/*======================================================================================================
Geral Geral Geral Geral Geral Geral Geral Geral Geral Geral Geral Geral Geral Geral Geral Geral Geral
========================================================================================================
*/

body {
    background: rgb(63, 1, 1);
    color: #21243D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: #21243D;
    text-decoration: none;
}

/*======================================================================================================
Especifico
========================================================================================================
*/

header ul li{
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0 ;
}
section.banner{
    text-align: center;
    padding: 0 5% 0 5%;
}
section.banner{
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0 10px 0 ;
}
